.book-img {
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 20px;
  margin: 5%;
}

#book-title-summary {
  min-width: 250px;
}

.resLibraries {
  min-width: 300px;
}

@media (max-width: 500px) and (orientation: portrait) {
  .book-img {
    max-width: 250px;
    max-height: 250px;
    min-width: 150px;
    min-height: 150px;
  }
}
.general-info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: #6F518C;
  border-radius: 15px;
  padding: 5px;
}
.id-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-grid{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
.gen-info-assigned{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.assigned-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background: #6F518C;
  border-radius: 15px;
  width: 400px;
}
.map-divider{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  background: #6F518C;
  border-radius: 15px;

}