.recommend {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* padding: 10px; */
    margin: 2% 5%;
    border-radius: 18px;
    background: #583F83;
    padding: 10px 15px;
  }

.scrolling {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  height: fit-content;

}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #ECE5F1;
  opacity: 10%;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #453159;
  border-radius: 10px;
}
