.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #000;
  background: #583F83;
}

.headerLogo {
  margin: 1%;
}

.headerSearch {
  display: flex;
  justify-self: center;
  margin: 1%;
}

.headerSignIn {
  margin: 1%;
}
.headerProfile {
  margin: 1%;
}

@media (max-width: 440px) and (orientation: portrait) {
  .header {
    display: grid;
    grid-template-areas: "left profile" "center center" "right right";
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    border-collapse: collapse;
  }
  .headerLogo {
    grid-area: left profile;
    justify-self: center;
  }

  .headerSearch {
    grid-area: right;
    justify-self: center;
  }

  .headerSignIn {
    grid-area: center;
    justify-self: center;
  }
  .headerProfile {
    grid-area: profile;
    justify-self: center;
  }
}

@media (max-width: 700px) and (min-width: 440px) and (orientation: portrait) {
  .header {
    display: grid;
    grid-template-areas: "left right" "center center";
    align-items: center;
    grid-auto-rows: 60px;
    justify-content: space-around;
  }
  .headerLogo {
    grid-area: left;
    justify-self: center;
  }

  .headerSearch {
    grid-area: center;
    justify-self: center;
    width: 100%;
  }

  .headerSignIn {
    grid-area: right;
    justify-self: center;
  }
  .headerProfile {
    grid-area: right;
    justify-self: center;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .header {
    display: grid;
    grid-template-areas: "left right" "center center";
    align-items: center;
    grid-auto-rows: 60px;
    justify-content: space-around;
  }
  .headerLogo {
    grid-area: left;
    justify-self: center;
  }

  .headerSearch {
    grid-area: center;
    justify-self: center;
    width: 100%;
  }

  .headerSignIn {
    grid-area: right;
    justify-self: center;
  }
  .headerProfile {
    grid-area: right;
    justify-self: center;
  }
}
