backup*
**/.vscode/*
**/node_modules/*
**/__pycache__/*
node_servers/website/model/sessions/session.sqlite
node_servers/database_server/model/sessions/session.sqlite
**/app_venv/*
**/tempCodeRunnerFile.py/*
**/README_link/*
**/session.sqlite/*
