{{>header}}


<main>
    <div class="pageborder">


        <div class="row">
            
            <div class="justify-content-start col info" id="who-we-are">
                <h1><strong>About Bilbo</strong></h1>
                <p>Bilbo is a search engine that helps you find and borrow books from libraries around you.
                    Our purpose is to make finding books and libraries around you as easy as possible in a fun
                    and comprehensive way.
                    Our name is inpsired by Bilbo Baggins, who is a bookworm character from the novels and movies
                    The Hobbit and The Lord of the Rings.
                </p>
            </div>
            <div class="col col-md-auto justify-content-center align-items-center">
                <img src="img/logo_background.png" alt="logo" class="about-background">
            </div>
            

        </div>
        <h1><strong>The Creators</strong></h1>
        <div class="row">
            <div class="justify-content-start who-we-are col row" id="konstantinos-info">
                <div class="col col-md-auto">
                    <img src="img/kotorenis_profile.png" alt="Konstantinos Kotorenis profile picture "
                    class="who-we-are-profile-pics ">
                </div>
                <div class="col info">
                    <h2><strong>Konstantinos Kotorenis</strong></h2>
                    <p>My name is Konstantinos or just Koto. I was born in the 15th of October 1998
                        and for the last 7 years I study Electrical and Computer Engineering. My main passion is
                        photography
                        and I love graphic and UI/UX Design a lot. I might not have watched Lord of the Rings, Bilbo
                        stood out
                        from the crowd and I think he as a bookwork fits a lot with our vision for the application.
                    </p>
                </div>
            </div>

            <div class="justify-content-start who-we-are col row" id="nikolas-info">
                <div class="col col-md-auto">
                    <img src="img/nikolas_profile.png" alt="Nikolas Filippatos profile picture" class="who-we-are-profile-pics ">
                </div>
                <div class="col info">
                    <h2><strong>Nikolas Filippatos</strong></h2>
                    <p>
                        My name is Nikolas .Since 2019 I am studying Electrical and Computer Engineering. For work and
                        hobbies I enjoy tinkering with programming . Like our beloved logo, I am a big bookworm myself !
                    </p>
                </div>
            </div>
        </div>
            
        
        <!-- needs better positioning -->
        
        


    </div>
</main>