<div class="recommend" id="recommended-books">
    <h2 class="h2" style="color: #ffffff"><strong> Active Users </strong></h2>
    <div class="scrolling">
        {{#each active_users }}
            {{> card_user }}                    
        {{/each}}
    </div>
    <br>
</div>