
<div style="background: #6F518C; border-radius: 15px;padding: 50px">
  <h1 style="color: #FFFFFF">Assign Tracker</h1>
  <form action="/assign/tracker" method="post">
    <label for="deviceSelect" style="color: #FFFFFF">Select a device:</label>
    <select id="trackerSelect" name="selectedDevice">
      {{#each available_trackers}}
        <option value="{{serial}}">{{serial}}</option>
      {{/each}}
    </select>
    <br />
    <input type="submit" value="Submit" />
  </form>
</div>

<div style="background: #6F518C; border-radius: 15px;padding: 40px">
  <h1 style="color: #FFFFFF">Assign Button</h1>
  <form action="/assign/button" method="post">
    <label for="deviceSelect" style="color: #FFFFFF">Select a device:</label>
    <select id="buttonSelect" name="selectedDevice">
      {{#each available_buttons}}
        <option value="{{serial}}">{{serial}}</option>
      {{/each}}
    </select>
    <br />
    <input type="submit" value="Submit" />
  </form>
</div>