<deviceHistoryList class="row">
  <div class="row">
    <h3 class="col" style="color: #FFFFFF">User ID</h3>
    <h3 class="col" style="color: #FFFFFF">Date Received</h3>
    <h3 class="col" style="color: #FFFFFF">Date Returned</h3>

  </div>

  {{! Make a list to display the history  }}
  {{#each deviceHistory}}

    <div class="row">
      <div class="col">{{user_id}}</div>
      <div class="col">{{date_received}}</div>
      <div class="col">{{date_returned}}</div>

    </div>

  {{/each}}

</deviceHistoryList>