<footer>
    <div class="footer">
        <div class="footer-contact">
            <span class="footer-title">Contact Us</span>
            <span class="footer-email">Email</span>
            <span class="footer-text">info@adv-guard.com</span>
            <span class="footer-text">Contact Here</span>
        </div>
        <a href="/about" class="footer-text">
        <div class="footer-contact">
            <span class="footer-title">About Us</span>
            <span class="footer-about">Adventure Guard is the first on-site tracking solution implemented to track and trace people in hard to reach areas. Copyright 2023</span>
        </div></a>
        <div class="footer-contact">
            <span class="footer-title">Social Media</span>
            <span class="footer-text">Facebook</span>
            <span class="footer-text">Instagram</span>
            <span class="footer-text">Twitter</span>
        </div>
    </div>

</footer>