<script src="./javascript/searchbar.js" defer></script>

<header class="sticky-header">
    <div class="header pageborder">


        {{>searchbar}}

        <div class="d-flex flex-row justify-content-center align-items-center">
            
            <button class="button-light " id="trackers_url">
                <a href="/search">Trackers</a>
            </button>
        </div>

        <a href="/" class="headerLogo">
            <img src="./img/logo_white_2.svg" alt="Adventure Guard Logo" width="75" height="75">
        </a>

        {{#unless signedIn}}
        <div class="headerProfile d-flex flex-row justify-content-center align-items-center" id="sign-space">

            <button class="button-light sign-in" id="sign-in-btn">Sign In</button>

            {{>sign_in_up}}

        </div>
        {{else}}
        <div class="headerProfile d-flex flex-row justify-content-center align-items-center" id="sign-space">
            <script src="javascript/alerting.js" defer></script>

            {{>profile_picture color="#453159"}}

        </div>
        {{/unless}}


    </div>
</header>