<div class="heatmaps">
    <div class="map">
        {{!-- 21.732813401979747,38.24507192398973 --}}
        {{>map lon=21.732813401979747 lat=38.24507192398973 library=true}}
    </div>
    <div>
        <div class="on-map-trackers">
            <span class="on-map-title">On Map Trackers</span>
            <div class="trackers-grid">
            </div>
        </div>
    </div>
</div>