<div class="map-filters">
  <h2 class="h2" style="color: #ffffff"><strong> Heatmap </strong></h2>
  <div class="filters">
    {{! checkbox safe zones }}
    <div class="checkbox-container">
      <input
        type="checkbox"
        id="safe-zones"
        name="safe-zones"
        value="safe-zones"
        checked
      />
      <label style="color: #FFFFFF; font-size:18px" for="safe-zones">Safe Zones</label>
    </div>
    <div class="checkbox-container">
      <input
        type="checkbox"
        id="accessible-paths"
        name="accessible-paths"
        value="accessible-paths"
      />
      <label
        style="color: #FFFFFF; font-size:18px"
        for="accessible-paths"
      >Accessible Paths</label>
    </div>
    <div class="checkbox-container">
      <input
        type="checkbox"
        id="dangerous-zones"
        name="dangerous-zones"
        value="dangerous-zones"
      />
      <label
        style="color: #FFFFFF; font-size:18px"
        for="dangerous-zones"
      >Dangerous Zones</label>
    </div>
  </div>
</div>