<div class="map-filters" style="background: #6F518C">
  <h2 class="h2" style="color: #ffffff"><strong> Heatmap </strong></h2>
  <div class="filters">
    {{! checkbox safe zones }}
    <div class="checkbox-container">
      <input
        type="checkbox"
        id="device-history"
        name="device-history"
        value="device-history"
      />
      <label style="color: #FFFFFF; font-size:18px;" for="device-history">Device History</label>
    </div>
    <div class="checkbox-container">
      <input
        type="checkbox"
        id="live-feed"
        name="live-feed"
        value="live-feed"
      />
      <label
        style="color: #FFFFFF; font-size:18px"
        for="live-feed"
      >Live Feed</label>
    </div>
  </div>
</div>