<div class="team-banner-container">
    <div class="team-banner">
        <div class="team-stad">
            <div class='stad_img' style="background: #FFFFFF"></div>
    </div>

            <div class="team-logo" style="background: #6F518C">
                <img class='logo-icon' src="/img/gps-over.png" alt="device cover">
                <span class="team-name">
                    ID: {{device_id}}
                </span>
            </div>
    </div>
</div>