<div class="admin-info">
    <div class="col">
        <h6 class="p-title" style="color: #FFFFFF"><strong>ID</strong></h6>
        <p class="p-info">{{id}}</p>
    </div>
    <div class="col">
        <h6 class="p-title" style="color: #FFFFFF"><strong>Role</strong></h6>
        <p class="p-info">{{role}}</p>
    </div>
    <div class="col">
        <h6 class="p-title" style="color: #FFFFFF"><strong>Phone</strong></h6>
        <p class="p-info">{{phone}}</p>
    </div>
</div>