<div class="profileInfoDetails">
  <h6 class="p-title" style="color: #FFFFFF"><strong>ID</strong></h6>
  <p class="p-info">{{id}}</p>
  <h6 class="p-title" style="color: #FFFFFF"><strong>Role</strong></h6>
  <p class="p-info">{{role}}</p>
  <h6 class="p-title" style="color: #FFFFFF"><strong>Phone</strong></h6>
  <p class="p-info">{{phone}}</p>
</div>