{{>header}}


<main style="background: #2B1756">
    <div class="pageborder">


        <div class="row">
            <div class="col col-md-auto justify-content-center align-items-center">
                <img src="img/logo_white_2.svg" alt="logo" class="about-background">
            </div>
            <div class="justify-content-start col info" id="who-we-are">
                <h1 style="color: #FFFFFF"><strong>About Adventure Guard</strong></h1>
                <p style="color: #FFFFFF">Adventure Guard is the first on-site tracking solution implemented to track and trace people in hard to reach areas. Copyright 2023
                </p>
            </div>



        </div>
        <br>
        <h1 style="color: #FFFFFF"><strong>The Creators</strong></h1>
        <div class="col">
            <div class="justify-content-start who-we-are col row" id="konstantinos-info">
                <div class="col col-md-auto">
                    <img src="img/nikolas_profile.jpg" alt="Nikolas Filippatos profile picture "
                    class="who-we-are-profile-pics ">
                </div>
                <div class="col info">
                    <h2 style="color: #FFFFFF"><strong>Nikolas Filippatos</strong></h2>
                    <p style="color: #FFFFFF">My name is Nikolas .Since 2019 I am studying Electrical and Computer Engineering. For work and
                        hobbies I enjoy tinkering with programming . Like our beloved logo, I am a big adventure fan myself !
                    </p>
                </div>
            </div>
            <div class="justify-content-start who-we-are col row" id="konstantinos-info">
                <div class="col info">
                    <h2 style="color: #FFFFFF;text-align: end"><strong>Alkiviadis Tzortzakis</strong></h2>
                    <p style="color: #FFFFFF;text-align: end">My name is Alkiviadis .Since 2019 I am studying Electrical and Computer Engineering. For work and
                        hobbies I enjoy tinkering with programming . Like our beloved logo, I am a big adventure fan myself !
                    </p>
                </div>
                <div class="col col-md-auto">
                <img src="img/alkis.png" alt="Alkiviadis Tzortzakis profile picture "
                     class="who-we-are-profile-pics" style="width: 500px;height: 500px ">
            </div>
            </div>
            <div class="justify-content-start who-we-are col row" id="konstantinos-info">
                <div class="col col-md-auto">
                    <img src="img/agis.png" alt="Agisilaos Kolliopoulos profile picture "
                         class="who-we-are-profile-pics "style="width: 500px;height: 500px ">
                </div>
                <div class="col info">
                    <h2 style="color: #FFFFFF"><strong>Agisilaos Kolliopoulos</strong></h2>
                    <p style="color: #FFFFFF">My name is Agisilaos .Since 2019 I am studying Electrical and Computer Engineering. For work and
                        hobbies I enjoy tinkering with programming . Like our beloved logo, I am a big adventure fan myself !
                    </p>
                </div>
            </div>
        </div>
            
        
        <!-- needs better positioning -->
        
        


    </div>
</main>