{{!-- Theoretically this one is set, once the bugs are fixed --}}


{{>header}}

<main style="background: #2B1756">


    {{#if signedIn}}
        {{> heatmap}}
    {{else}}
        {{> not_signed_home}}
    {{/if}}


    {{#if isAdmin}}
        {{> active_trackers}}
        {{> active_users}}
    {{/if }}
<br>
</main>