<script src="javascript/user_profile.js" defer></script>

{{>header}}

<main style="background: #2B1756">

    {{!-- make it better at a later date --}}

    <div class="col">

        <div class="admin-container">

            <div class="profile_info col" style="background: #6F518C; border-radius: 15px;">

                <div class="d-flex flex-row align-items-center">
                    <img src="/img/person-fill.svg" alt="device cover" class="device-img" width="150px"
                         style="padding: 10px">
                    <h2 style="color: #FFFFFF"><strong>{{profile.first_name}} {{profile.last_name}}</strong></h2>
                    <form action="/sign_out" method="get">
                        <input class="button-white justify-self-end" type="submit" value="Sign Out">
                    </form>

                </div>
                {{> user_profile_info id=profile.u_id role=profile.role phone=profile.phone}}
            </div>
            <div class="profile_info col" style="background: #6F518C; border-radius: 15px">

                <div class="d-flex flex-wrap align-items-center">
                    <img src="/img/person-fill.svg" alt="device cover" class="device-img" width="150px"
                         style="padding: 10px">
                    <h2 style="color: #FFFFFF"><strong>{{profile.first_name}} {{profile.last_name}}</strong></h2>
                    <form action="/sign_out" method="get">
                        <input class="button-white justify-self-end" type="submit" value="Sign Out">
                    </form>

                </div>
                {{> user_profile_info id=profile.u_id role=profile.role phone=profile.phone}}
            </div>
        </div>



        {{!-- This should only be displayed when the user does not have a device assigned --}}

        {{#if isAdmin}}
            {{> assigning_device }}
        {{/if}}

        {{#if assigned_tracker}}
            <h6><strong>Assigned Devices </strong></h6>
            {{> card battery=100 status=assigned_tracker.status d_id=assigned_tracker.d_id serial=assigned_tracker.serial type=assigned_tracker.type}}
        {{!-- {{> card battery=100 }}                     --}}

        {{/if}}

        {{#if assigned_button}}
            {{> card battery=100 status=assigned_button.status d_id=assigned_button.d_id serial=assigned_button.serial type=assigned_button.type }}
        {{/if}}

    </div>
    {{!-- display past trips --}}
    {{!-- show date and duration --}}

</main>