{{>header}}

<main class="d-flex flex-column align-content-center pageborder">

    <div class="d-flex flex-row justify-content-between flex-wrap" id="book">

        
        <img src=".card_book_default.jpg" alt="book cover" class="book-img m-3">
        <div class="d-flex flex-column justify-content-start mx-3" id="book-title-summary">
            <h1 id="title"><strong>{{ booktitle }}</strong></h1>
            <p id="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae autem nemo doloribus
                asperiores illum quasi vel cum, in, placeat quos inventore repudiandae accusantium distinctio
                praesentium, necessitatibus sit eum laborum unde?</p>
        </div>
      

        <div class="d-flex flex-row justify-content-start " id="book-info">

            <div class="d-flex flex-column mx-3">
                <div id="author">
                    <h5 class="p-title" id="author-h"><strong>Author</strong></h5>
                    <p class="p-info" id="author-p">example</p>
                </div>
                <div id="publisher">
                    <h5 class="p-title" id="publisher-h"><strong>Publisher</strong></h5>
                    <p class="p-info" id="publisher-p">example</p>
                </div>
                <div id="edition">
                    <h5 class="p-title" id="edition-h"><strong>Edition</strong></h5>
                    <p class="p-info" id="edition-p">example</p>
                </div>
                <div id="genre">
                    <h5 class="p-title" id="genre-h"><strong>Genre</strong></h5>
                    <p class="p-info" id="genre-p">example</p>
                </div>
            </div>
            
            <div class="d-flex flex-column mx-3">
                <div id="release">
                    <h5 class="p-title" id="release-h"><strong>Release</strong></h5>
                    <p class="p-info" id="release-p">example</p>
                </div>
                <div id="language">
                    <h5 class="p-title" id="language-h"><strong>Language</strong></h5>
                    <p class="p-info" id="language-p">example</p>
                </div>
                <div id="isbn">
                    <h5 class="p-title" id="isbn-h"><strong>ISBN</strong></h5>
                    <p class="p-info" id="isbn-p">example</p>
                </div>
            </div>
            
    
            


        </div>

    </div>




    <h2><strong>Reservation points</strong></h2>
    <div class="d-flex flex-row justify-content-start" id="book-location">

        {{>map lon=21.79127500966751 lat=38.29039542648134 zoom=16}}


        <div class="d-flex flex-row justify-content-between">
            <!-- libraries and locations -->
            <div class="d-flex flex-column justify-content-start mx-3">
                <h4>Library</h4>
                <p>Patras Library</p>
            </div>

            <div class="d-flex flex-column justify-content-start mx-3">
                <h4>Address</h4>
                <p>Manolaki 45, Patras, 26222</p>
            </div>

            <div class="d-flex flex-column justify-content-start mx-3">
                <h4>Copies</h4>
                <p>5</p>
            </div>

            <div class="d-flex flex-column justify-content-start mx-3">
                <!-- reservation buttons -->
                <h4><br></h4>
                <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="button" autocomplete="off" aria-pressed="false">
                    <span>Reserve</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-primary rounded-pill active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">
                    <span>Reserved</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x-fill" viewBox="0 0 16 16">
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7.354 5.646 8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708z"/>
                    </svg>
                </button>
            </div>



        </div>
    </div>

</main>