/* General buttons */

.button-dark {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0.5rem;
  
  background: #453159;
  border-radius: 17px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
}

.button-light {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0.5rem;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;

  background: #ac8fbf;
  border-radius: 2rem;
  border: transparent;
  white-space: nowrap;
}

.button-white {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-left: 1.85rem;
  padding-right: 1.85rem;
  margin: 0.5rem;
  
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;

  border-radius: 2rem;
  border: 0.15rem solid white;
  background: transparent;
  
  white-space: nowrap;
}

.button-purple {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-left: 1.85rem;
  padding-right: 1.85rem;
  margin: 0.5rem;
  
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #453159;

  border-radius: 2rem;
  border: 0.15rem solid #453159;
  background: transparent;
  
  white-space: nowrap;
}

.button-light:hover {
  background: #453159;
  border-radius: 17px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
}



.button-white:hover {
  background: #453159;
  border-radius: 17px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border-color: #453159;
  white-space: nowrap;
}

.button-purple:hover {
  background: #453159;
  border-radius: 17px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
}
/* Search related buttons */

.searchbutton {
  background: transparent;
  border: transparent;
}


/* Filter buttons */

.selected-filter-list{  
  flex-wrap: wrap;
}

.selected-filters {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  /* align-items: center; */
  /* position: absolute; */

  width: fit-content;
  height: fit-content;
  padding: 6px 18px 6px 18px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #453159;
  
  margin: 0.5rem;
  background: #ece5f1;
  border-radius: 2rem;
}

.selected-filters:hover {
  cursor: pointer; 
}

.btn-close{
  margin-left: 8px;
  width: 7px;
  height: 7px;
  align-self: center;
  justify-self: center;
}

/* .form-check-input:focus ~ .form-check-label::before {
  box-shadow: 0 0 0 0.2rem #AC8FBF;
} */

.form-check-input:focus{
  box-shadow: 0 0 0 0.2rem #ece5f1;
  border: #ece5f1;
}

.filter-checkbox[type="checkbox"]:checked {
  background-color: #AC8FBF;
  border: 1px solid #AC8FBF;
  box-sizing: border-box;
  border-radius: 4px;
}

.filter-range { 
  /* input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;"> */
  border: 1px;
  width: auto;
}

.btn-reserve{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F0E4BB;
  border: transparent;
  color: black;
}

.btn-reserve:hover{
  background-color:#E3D7B1;
  color: black;
}

.btn-reserve:active:focus {
  background-color:#C79752;
  color: black;
}

.bi{
  margin-left: 4px;
}

.btn-reserve.active {
  background-color:#E5AE5E;
  color: black;
}
.btn-reserve.active:hover{ 
  background-color:#E5AE5E;
  color: black;
}

