
.library-reserve-url:hover, .library-reserve-url a p :hover,.library-reserve-url a :hover{
  color: #6F518C;
  /* color: #453159; */
  /* color: #ac8fbf ; */
  /* text-decoration: underline; */
}

.library-reserve-url {
  text-decoration: none;
  color: black;
}



*::selection {
  color: #ffffff;
  background-color: #ac8fbf;
}


.margin-padding {
  margin: 20px;
  padding: 20px;
}

.m57_147 {
  margin-left: 147px;
  margin-right: 147px;
  margin-top: 57px;
}

.horizontal-profile-search {
  margin: 46px 160px;
}

.pageborder {
  padding: 1% 5% 1.5% 5%;
}

.background {
  background-image: url("img/logo_bg.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 10%;
  background-size: 80vh;
}

.bi-person {
  cursor: pointer;
}

.bi-person:hover {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h3 {
  font-weight: bold;
}

.rounded-corners {
  border-radius: 10px 10px 0px 0px;
}

@media (min-width: 400px) and (max-width: 550px) and (orientation: portrait) {
  .scale{
      transform: scale(0.8);
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .scale{
      transform: scale(0.7);
  }
}


#alert-popup{
  display: block;
}

.alert-message{
  min-width: 250px;
  min-height: 50px;
  width: fit-content;
  height: fit-content;
  margin: 2% 10% 10% 10%;
  padding: 0% 10% 0% 10%;
  text-align: center;
}