.book-img {
    max-width: 300px;
    max-height: 300px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 20px;
    margin: 5%; 
}

#book-title-summary{
    min-width:250px;
}

.resLibraries{
    min-width: 300px;
}


@media (max-width: 500px) and (orientation: portrait) {
    .book-img {
        max-width: 250px;
        max-height: 250px;
        min-width: 150px;
        min-height: 150px;
    }
}