<footer>
    <div class="d-flex flex-row justify-content-center align-items-between">

        <div class="d-flex flex-row justify-content-center align-items-between">
            <div class="d-flex flex-column justify-content-start align-items-start">
                <h4>Contact </h4>
                <p>Email</p>
                <p>contact here</p>

            </div>

            <div class="d-flex flex-column justify-content-start align-items-start ">
                <h4>About us </h4>
                <p>Lorem </p>
                <p>contact </p>

            </div>


        </div>

        <div class="d-flex flex-column justify-content-start align-items-start ">
            <h4>About us </h4>
            <p>Lorem </p>
            <p>contact </p>

        </div>

    </div>

</footer>