<membershipCard class="card-info">
    <div class="borrowingCard">
        <img src="img/borrowing_card.svg" class="borrowingCardBG">
        <div>
            <h5 class="borrowingCardInfo1"><strong>{{name}} {{surname}}</strong></h5>
            <p class="borrowingCardInfo2">{{id}}</p>
        </div>
    </div>
</membershipCard>