
.who-we-are{
  margin: 1% 0% 5% 0%;
  height: fit-content;
}

.who-we-are-profile-pics {
  margin: 2%;
  height: 150px;
  width: 150px;
  border-radius: 8%;
}

.about-background {
  width: 290px;
  margin: 5% 5% 5% 5%;
}

body {
  /* width: 100%; */
  overflow-x: hidden;
}

.info{
  min-width: 200px;
}